{{ define "content" }}
<div class="content-wrapper" style="min-height: 976px;">
    <script> var load = JSON.parse({{ .Json }}); var indices = {{ .Header}} </script>
    <section class="content-header">
        <h1>
            {{ .Header }}
            <small>charts</small>
            <a class="btn btn-app" href="/dashboard/{{ .Header }}?p=sg">
                <i class="fa  fa-circle-o"></i> Search & Get
            </a>
            <a class="btn btn-app" href="/dashboard/{{ .Header }}?p=id">
                <i class="fa  fa-circle-o"></i> Index & Delete
            </a>
            <a class="btn btn-app" href="/dashboard/{{ .Header }}?p=jvm">
                <i class="fa  fa-circle-o"></i> JVM
            </a>
            <a class="btn btn-app" href="/dashboard/{{ .Header }}?p=sys">
                <i class="fa  fa-circle-o"></i> System
            </a>
        </h1>
        
    </section>
    <section class="scontent">
        {{ template "p" }}
    </section>
</div>
{{ end }}