{{ define "scripts" }}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://almsaeedstudio.com/themes/AdminLTE/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="https://almsaeedstudio.com/themes/AdminLTE/dist/css/skins/_all-skins.min.css">

<link href="/public/lim.css" rel="stylesheet">

<script src="http://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://almsaeedstudio.com/themes/AdminLTE/plugins/fastclick/fastclick.js"></script>
<script src="https://almsaeedstudio.com/themes/AdminLTE/dist/js/app.min.js"></script>
<script src="https://almsaeedstudio.com/themes/AdminLTE/dist/js/demo.js"></script>
<script src="https://almsaeedstudio.com/themes/AdminLTE/plugins/flot/jquery.flot.min.js"></script>
<script src="https://almsaeedstudio.com/themes/AdminLTE/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="https://almsaeedstudio.com/themes/AdminLTE/plugins/flot/jquery.flot.pie.min.js"></script>
<script src="https://almsaeedstudio.com/themes/AdminLTE/plugins/flot/jquery.flot.categories.min.js"></script>

<script src="/public/lim.js"></script>

{{ end }}