{{ define "sidebar" }}

<aside class="main-sidebar" style="padding-top:0px">
    <div class="main-header">
    <a href="../../index2.html" class="logo" style="float:none">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>L</b>IM</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>LIM</b>Statistics</span>
    </a>
    </div>
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
         
         
        
         
        
         
        <li class="loading"><a href="javascript:void(0)" style="text-align:center; padding: 5px 0px"><i class="fa"></i> <span>loading...</span></a></li>
        <!--<li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>-->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

{{ end }}