.scontent {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo-danger{
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}